@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/ubuntu-v20-latin_cyrillic-regular.woff2') format('woff2'),
        url('./assets/fonts/ubuntu-v20-latin_cyrillic-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


* { 
    font-family: Ubuntu;
}